/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Reset
   ========================================================================== */

html,
body {
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}



/* ==========================================================================
   Setup
   ========================================================================== */

/* Colours */

:root {
  --primary: #395BC4;
  --primary-dark: #2742A4;
  --plimary-light: #4F78E5;

  --on-primary: white;
  --on-primary-light: white;
  --on-primary-dark: white;
}

/* Text */

:root {
  --text-spacer: 0 0 1.5rem;
}

/* Sections */

:root {
  --section-padding-y: 3rem;
  --section-padding-x: 3rem;
}

@media (min-width: 72rem) {
  :root {
    --section-padding-x: calc(0.5 * (100% - 72rem) + 3rem);
  }
}


/* ==========================================================================
   Typography
   ========================================================================== */

html {
  font-family: roboto, -apple-system, blinkmacsystemfont, 'Segoe UI',
    'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 100%;
  line-height: 1.5;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5, 
h6 {
  margin: var(--text-spacer);
  color: #212121;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 0.75;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
}

p {
  padding: var(--text-padding);
  max-width: 70ch;
}


/* ==========================================================================
   Layout
   ========================================================================== */

body {
  display: flex;
  flex-direction: column;
}

header,
footer,
section {
  position: relative;
  padding: var(--section-padding-y) var(--section-padding-x);
  box-sizing: border-box;
}

footer {
  margin-top: auto;
  color: var(--on-primary-dark);
  background: var(--primary-dark);
}

/* Hero */

.hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: var(--on-primary);
  background: var(--primary) no-repeat 50% 15% / cover;
  background-image: url('../img/joanna-kosinska-1_CMoFsPfso-unsplash.jpg');
}

.hero > nav {
  display: none;
}

.hero-message {
  width: 100%;
  font-size: 2rem;
  line-height: 1.25;
}

/* Illustrated sections */

:root {
  --section-image-size: 4rem;
}

/* Some random value */
@media (min-width: 80ch) {
  :root {
    --section-image-size: 10rem;
  }
}

.illustrated-section {
  padding-top: calc(var(--section-padding-y) + var(--section-image-size) + 1.5rem);
}

.illustrated-section-image {
  position: absolute;
  margin: 0 !important;
  top: var(--section-padding-y);
  left: var(--section-padding-x); /* calc(50% - var(--section-image-size) / 2); */
  width: var(--section-image-size);
}

@media (min-width: 80ch) {
  .illustrated-section {
    padding-top: var(--section-padding-y);
  }

  .illustrated-section > * {
    margin-right: calc(var(--section-image-size) + 2rem);
  }

  .illustrated-section:nth-of-type(odd) > * {
    margin-left: calc(var(--section-image-size) + 2rem);
    margin-right: 0;
  }

  .illustrated-section-image {
    left: auto;
    right: var(--section-padding-x);
  }

  .illustrated-section:nth-of-type(odd) .illustrated-section-image {
    right: auto;
    left: var(--section-padding-x);
  }
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--section-padding-y) - 0.75rem) calc(var(--section-padding-x) - 1.5rem)
}

footer > * {
  margin: 0.75rem 1.5rem;
}

footer a {
  color: inherit;
  text-decoration: underline;
}

.footer-logo {
  display: block;
  height: 3rem;
}

.footer-logo img {
  display: block;
  width: auto;
  height: 100%;
}


/* ==========================================================================
   Helpers
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
